@{
    ViewData["Title"] = "Trang chủ";
}

<div class="text-center">
    <h1 class="display-4">Chào mừng đến với WebHocCSDL</h1>
    <p class="lead">Ứng dụng hỗ trợ học tập cơ sở dữ liệu với các tính năng:</p>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">Tạo cơ sở dữ liệu từ yêu cầu của bạn</li>
        <li class="list-group-item">Kho lưu trữ các thiết kế CSDL</li>
        <li class="list-group-item">Bài tập gợi ý để thực hành</li>
    </ul>
</div>